<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <style>
      .home{
          padding-left: 10px;
      }
      hr.style1{
          border-top: 4px double #8c8b8b;
        text-align: center;
      }

  </style>
</head>
<body>
  <header>
    <br>
    <h3 class="d-flex justify-content-center">GOODS-TECH</h3>
    
      <hr class="style1">
      <div>
          <a class="home" href="#">Home</a>
      </div>
      <hr class="style1">
      <h5 class="d-flex justify-content-center">Manufacturer Management Portal</h5>

  </header>



<div class="card border-dark mb-3">
    <div class="card-body">

      <h3>Manufacturer Details</h3>
      <br>

      <label class="bold"> ManufacturerID</label> <label> : {{ManufacturerID}}</label>
      <br>
    
      <label class="bold">CompanyName </label> <label> : {{CompanyName}}</label>
      <br>
      
      <label class="bold">FirstName </label> <label> : {{Firstname}} </label>
      <br>
      <label class="bold">LastName </label> <label> : {{Lastname}} </label>
      <br>

      <label class="bold">Address </label> <label> : {{Address}} </label>
      <br>

      <label class="bold">City </label> <label> : {{City}} </label>
      <br>

      <label class="bold">State </label> <label> : {{State}} </label>
      <br>

      <label class="bold">PostalCode </label> <label> : {{PostalCode}} </label>
      <br>

      <label class="bold">Country </label> <label> : {{Country}} </label>
      <br>
      
      <label class="bold">Email </label> <label> : {{Email}} </label>
      <br>
      
      <label class="bold">Phone </label> <label> : {{Phone}} </label>
      <br>

      <br>
      <br>
    </div>
  </div>
