<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <style>
            .home{
    padding-left: 10px;
}
.contact{
    padding-left: 30px;
}

.row{
    padding-left: 30px;
    padding-top: 30px;
}
hr.style1{
   border-top: 4px double #8c8b8b;
	text-align: center;
}
        </style>
    </head>
    <body>
        <header>
            <br>
            <h5 style="text-align: center">HOMEPAGE FOR RETAILERS</h5>
            
            <hr class="style1">
            <h1>GOODS-TECH</h1>
            <hr class="style1">
            <div>
                <a class="home" href="#">Home</a>
                <a class="contact" href="#">Contact Us</a>
                <button class="btn btn-primary btn-sm float-right" href="https://go.microsoft.com/fwlink/?LinkId=301865" >Logout</button>

        </div>
        </header>
     <hr class="style1">
        

<div class="row" >
  
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="http://localhost:4200/Orders/Order" style="padding-left: 70px;padding-right: 70px"><br />Orders<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865"><br />Managing Payments<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-left: 40px;padding-right: 40px"><br />Invoices<br /> <br /></a>
        </p>
    </div><br />
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-left: 65px;padding-right: 65px"><br />Reports<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-left: 70px;padding-right: 60px"><br />Feedback<br /> <br /></a>
        </p>
    </div>
        </div>
    </body>

</html>