<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

    <style>
        .home{
    padding-left: 10px;
}
.contact{
    padding-left: 30px;
}

.row{
    padding-left: 30px;
    padding-top: 30px;
}
hr.style1{
   border-top: 4px double #8c8b8b;
	text-align: center;
}
    </style>
    </head>
    <body>
        <header>
            <br>
            <h5 style="text-align: center">HOMEPAGE FOR ADMIN</h5>
            
            <hr class="style1">
            <h1>GOODS-TECH</h1>
            <hr class="style1">
            <div>
                <a class="home" href="#">Home</a>
                <a class="contact" href="#">Contact Us</a>
                
              
            <button type="button" class="btn btn-primary float-xl-right" data-toggle="modal" data-target="#exampleModal" ng-click="Logout()">
                Log Out
            </button>
            
  
  
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to Logout?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><a class="btn btn-secondary btn-sm">Close</a></button>
                            <button type="button" class="btn btn-primary"><a class="btn btn-primary btn-sm" href="http://localhost:4200/Login">Yes</a></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </header>
     <hr class="style1">
        

<div class="row" >
  
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865"><br />Managing Retailers<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="http://localhost:4200/Manufacturer/Read"><br />Managing Manufacturers<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865"><br />Managing Inventory<br /> <br /></a>
        </p>
    </div><br />
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-left: 70px;padding-right: 70px"><br />Orders<br><br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865"><br />Managing and <br>Customizing  Orders
<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-right: 30px"><br />Generate Purchase <br>Orders
<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-right: 30px;padding-bottom: 30px;padding-top: 20px"><br />Generate Invoices
<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-left: 30px;padding-right: 30px;padding-bottom: 30px;padding-top: 20px"><br />Gather Feedback
<br /> <br /></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-left: 60px;padding-right: 60px"><br />Managing <br>Payments<br /> <br /></a>
        </p>
    </div>
    
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="padding-left: 70px;padding-right: 70px"><br />Reports<br /> <br /></a>
        </p>
    </div>
</div>
    </body>

</html>
